<div *ngIf="book">

	<h2 class='mat-title'>Book Details</h2>
	<div class="bookInfo">
		<mat-form-field class="full-width">
			<input matInput [(ngModel)]="book.title" placeholder="Title">
		</mat-form-field>
		<label>author:
			<span>{{book.authorName}}</span>
		</label>
		<mat-form-field class="full-width">
			<input matInput [(ngModel)]="book.genre" placeholder="Genre">
		</mat-form-field>
		<mat-form-field class="full-width">
			<textarea matInput [(ngModel)]="book.notes" placeholder="Notes"></textarea>
		</mat-form-field>
		<mat-radio-group [(ngModel)]="book.rating" placeholder="rating" class="full-width">
			<mat-radio-button value="4">Great</mat-radio-button>
			<mat-radio-button value="3">Gook</mat-radio-button>
			<mat-radio-button value="2">OK</mat-radio-button>
			<mat-radio-button value="1">Bad</mat-radio-button>
		</mat-radio-group>
		<mat-form-field>
			<input matInput [matDatepicker]="myDatepicker" [(ngModel)]="book.readDate" placeholder="Read Date">
			<mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
			<mat-datepicker #myDatepicker></mat-datepicker>
		</mat-form-field>
	</div>
	<button mat-button (click)="goBack()">go back</button>
	<button mat-button (click)="save()">save</button>
</div>