.bookInfo {
  display: flex;
  flex-direction: column;
}
.bookInfo > mat-form-field {
  width: 100%;
}
.mat-radio-button,
.mat-raised-button {
  margin-right: 1em;
  margin-bottom: 1em;
}
.mat-raised-button {
    width: 9em;
}