$information-phone: "only screen and (max-width : 420px)";
$information-tablet: "only screen and (min-width : 421px) and (max-width : 720px)";
$information-desktop: "only screen and (min-width : 721px)";
